
.masthead {
    height: 30vh;
    min-height: 500px;
    background-size: cover;
    
    
    box-shadow:inset 0px,0px,20px 10px rgba(0,0,0,0.6);
    
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .chuch-header-name h1,h3{
      color: white;
  }
  .page-inner-header-content{
      margin-top:35vh;
  }
  /* .address-container{
      max-width: 250px;
      height: 250px;
  } */
  .rounded {
    border-radius:8px!important
}
@media only screen and (max-width: 600px) {
    .address-container{
        max-width: 80vw;
        
    }
    .times-container{
        max-width: 80vw;
    }
    .mini-meetings-container{
        max-width: 80vw;
        max-height: 400px;
    }
    .prayer-box{
        max-width: 80vw;
        max-height: 228px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .address-container{
        max-width: 70vw;
        height: 230px;
    }
    .times-container{
        max-width: 70vw;
    }
    .mini-meetings-container{
        max-width: 70vw;
        max-height: 400px;
    }
    .prayer-box{
        max-width: 70vw;
        max-height: 228px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .address-container{
        max-width: 300px;
        max-height: 230px;
    }
    .times-container{
        max-width: 300px;
    }
    .mini-meetings-container{
        max-width: 400px;
        max-height: 400px;
    }
    .prayer-box{
        max-width: 400px;
        max-height: 228px;
    }
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .address-container{
        max-width: 400px;
        height: 250px;
    }
    .times-container{
        max-width: 400px;
    }
    .mini-meetings-container{
        max-width:450px;
        max-height: 400px;
    }
    .prayer-box{
        max-width: 450px;
        height: 228px;
    }
    .times-new-container{
        max-width: 600px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.address-container{
    max-width: 350px;
    height: 250px;
}
.times-container{
    max-width: 350px;
}
.mini-meetings-container{
    max-width:450px;
    max-height: 400px;
}
.prayer-box{
    max-width: 450px;
    max-height: 228px;
}
.times-new-container{
    max-width: 600px;
}

}
.input-messageSize{
    height:180px
}
.req-form label{
    font-weight: bold;
}